@mixin button($width){
        display:block;
        width:$width
        }
div[data-role='page']{
    div[data-role='footer']
    {
        a[data-role='button']{
            @include button(90%);
        }
    }
    .frag
    {
        width: 80%;
    }
}