@mixin progressBar($color)
{
  background-color: #EEEEEE;
  height: 25px;
  padding: 5px;
  width: 350px;
  margin: 50px 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  -webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  box-shadow: 0 1px 5px #DFDFDF inset, 0 1px 0 #E5E5E5;
  span {
  display: inline-block;
  height: 25px;
  width: 0px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; 
  background-color: $color }
  span[data_p="10"] {
  width: 10%; }

  span[data_p="20"] {
  width: 20%; }

  span[data_p="30"] {
  width: 30%; }

 span[data_p="40"] {
  width: 40%; }

  span[data_p="50"] {
  width: 50%; }

  span[data_p="60"] {
  width: 60%; }

  span[data_p="70"] {
  width: 70%; }

  span[data_p="80"] {
  width: 80%; }

  span[data_p="90"] {
  width: 90%; }

  span[data_p="100"] {
  width: 100%; }

}
div[data-role='page']{
.footer
{
    button
    {
        width: 80%;
        left: 10%;
    }
}
}
//Прогресс бары
.healthBar{
  @include progressBar(#990000);
}