.healthFragBar {
  background-color: #EEEEEE;
  height: 20px;
  padding: 5px;
  width: 90%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  box-shadow: 0 1px 5px #DFDFDF inset, 0 1px 0 #E5E5E5; }
  .healthFragBar span {
    display: inline-block;
    height: 20px;
    width: 10%;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    background-color: #990000; }

.energyBar {
  background-color: #EEEEEE;
  height: 20px;
  padding: 5px;
  width: 90%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  box-shadow: 0 1px 5px #DFDFDF inset, 0 1px 0 #E5E5E5;
  float: left; }
  .energyBar span {
    display: inline-block;
    height: 20px;
    width: 10%;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    background-color: #FF8000; }

.healthUserBar {
  background-color: #EEEEEE;
  height: 20px;
  padding: 5px;
  width: 90%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  box-shadow: 0 1px 5px #DFDFDF inset, 0 1px 0 #E5E5E5;
  height: 0.75%; }
  .healthUserBar span {
    display: inline-block;
    height: 20px;
    width: 10%;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    background-color: #990000; }